/*text styles */
body{
    background-color: #242424;
}

h1{
    font-size: 32pt;
    color: white;
    margin-left: 3%;
}

h2{
    font-size: 16;
}

p{ 
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 3%;
    font-size: 16pt;
    color: white;
}

.button{
    margin: 3%;
    color: #fde900;
}

a{
    color: #fde900;
}


/* flex boxes on home page */

.container {
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
    flex-direction: column;
    max-width: 90%;
    text-align:center;
}

.item { 
    margin: 10%;
    min-height: 15vh;
    min-width: 30vh;
    padding-inline-start: 20px;
}

.item:hover{
    border-radius: 10%;
    border-width: 10%;
    border-style: ridges;
}

.item-1{
    background-color: black;
}

.item-2{
    background-color: black;
}

/*logo type*/
.logotype {
    color: black;
    background-color: yellow;
    margin: 69px;
    width: 200pt;
}
.logotype:hover {
    color: yellow;
}
