/*text styles */
body{
    background-color: #242424;
    font-family: pt-mono, monospace;
    font-style: normal;
    font-weight: 100;   
}

h1{
    font-size: 32pt;
    color: white;
    margin-left: 3%;
}

h2{
    font-size: 16;
}

h3{
    color: #fde900;
    margin-top: 25%;
    text-align: center;
}
p{ 
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 3%;
    font-size: 16pt;
    color: white;
}

.button{
    margin: 3%;
    color: #fde900;
}

a{
    color: #fde900;
}

i{
    opacity: 75%;
}

/* flex boxes on home page */

.container {
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    flex-direction: column;
    max-width: 90%;
    text-align:center;
    line-height: 5;
}

.item {
    margin: 2vh;
    min-height: 8vh;
    min-width: 30vh;
    padding-inline-start: 20px;
    background-color: black;
    border-color: #fde900;
}

.item:hover{
    background-color: blueviolet;

}

.item-1{

}

.item-2{

}

/*logo type*/
.logotype {
    margin: 69px;
    width: 200pt;
}
.logotype:hover {
    color: yellow;
}