body{
    background-color: black;
}

h1{
    font-size: 32pt;
    color: white;
    margin-left: 3%;
}

h1:hover{
    color: yellow;
}


h2{
    font-size: 16;
}

p{ 
    font-size: 11;
    color: white;
}

.container {
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
    align-items:baseline;
    vertical-align: middle;
    max-width: 90%
}

.item { 
    margin: 10%;
    min-height: 30vh;
    min-width: 30vh;
    padding-inline-start: 20px;
}

.item:hover{
    border-radius: 10%;
    border-width: 10%;
    border-style: ridges;
}

.item-1{
    background-image: linear-gradient(to bottom right, gray, black);
}

.item-2{
    background-image: linear-gradient(to top right, white, gray);
}

.logotype {
    color: black;
    background-color: yellow;
    margin: 69px;
    width: 200pt;
}
.logotype:hover {
    color: yellow;
}
